@import url('variables.css');
.about-page {
  max-width: 75rem;
  margin: 0 auto;
  padding: 7.5rem 1.5rem 3.75rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.about-box {
  flex: 1;
  background-color: #dbe7f6;
  padding: 1rem;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.375rem 1rem rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  min-height: 16rem;
}

.about-headers {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color:#142443;
  font-size:1.5rem;
  margin-bottom: 0.625rem;
}

.about-box:hover,
.about-img:hover {
  box-shadow: 0 0.625rem 1.5rem rgba(0, 0, 0, 0.15)
}

.about-img {
  width: 45%;
  height: 15.625rem;
  object-fit: cover;
  border-radius: 0.75rem;
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
}

.about-row {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  gap: 0.5rem;
  margin-bottom: 1.25rem;
}

.about-box p {
  font-size: 1.5rem;
}

/* Smartphones – max 575px */
@media (max-width: 575px) {
  .about-row {
    flex-direction: column;
    gap: 1rem;
  }

  .about-img {
    width: 100%;
    height:auto;
    border-radius: 0.75rem;
  }

  .about-box {
    font-size: 1rem;
    padding: 1rem;
    width:100%;
  }

  .about-headers {
    font-size: 1.25rem;
  }
}

/* Small Tablets – 576px to 766px */
@media (min-width: 576px) and (max-width: 766px) {
  .about-row {
    flex-direction: column;
    gap: 1rem;
    align-items: stretch;
  }

  .about-img {
    width: 100%;
    height: auto;
  }

  .about-box {
    font-size: 1rem;
    padding: 1.25rem;
    height: auto;
  }
}

/* Tablets – 767px to 991px */
@media (min-width: 767px) and (max-width: 991px) {
  .about-row {
    flex-direction:column;
    gap: 1rem;
  }

  .about-img {
    width: 100%;
    height: auto;
  }

  .about-box {
    width: 100%;
    font-size: 1.125rem;
    padding: 1.5rem;
    box-sizing: border-box;
  }
  .columns-divider {
    display: none;
    opacity:0;
  }
}

/* Laptops – 992px to 1199px */
@media (min-width: 992px) and (max-width: 1199px) {
 .about-row {
    display: flex;
    align-items: stretch;
    gap: 1rem;
  }

  .about-img {
    width: 280px;
    height: 250px;
  }

  .about-box {
    font-size: 1.25rem;
    padding: 1.5rem;
  }
}

/* Desktops – 1200px to 1399px */
@media (min-width: 1200px) and (max-width: 1399px) {
  .about-img {
    width: 280px;
    height: 250px;
  }
}
/* Extra Large Screens – 1400px+ */
@media (min-width: 1400px) {
  .about-img {
    width: 300px;
    height: 260px;
  }
}
