@import url('variables.css');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--body-color);
    width: 100%;
    overflow-x: hidden;
}

header {
    display: flex;
    flex-direction: row;
    z-index: 1000;
    margin-bottom: 0.5rem;
}

.nav-bar {
    position: fixed;
    height: 6.25rem;
    top: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color:var(--nav-bar-color);
    padding: 0;
}

.nav-links {
    height: 6.25rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-bar a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: var(--the-white-color);
    font-weight: bold;
    padding: 0.625rem 1.25rem;
    border-radius: 0.5rem;
    text-decoration: none;
    font-size: var(--font-size-big);
}

.nav-bar a:hover,
.nav-bar a.active {
    box-shadow: 0 0.625rem 1.5rem #142443;
}

.footer-bar {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.25rem;
    font-weight: bold;
    color: var(--the-white-color);
    padding: 0;
    background-color: var(--nav-bar-color);
    box-sizing: border-box;
}

.hamburger {
    display: none;
    position: absolute;
    font-size: 1.75rem;
    width: max-content;
    background: none;
    border: none;
    color: var(--the-white-color);
    z-index: 1000;
    left: 1rem;
    right: auto;
    margin: 0;
    padding: 0;
    top: 2.5rem;
}

@media (max-width: 991px) {
    .hamburger {
        display: flex;
    }

    .nav-links {
        display: none;
        position: relative;
        padding: 1.2rem;
        width: 100%;
        height: max-content;
        flex-direction: column;
        transition: opacity 0.3s ease;
        background-color: var(--nav-bar-color)
    }

    .nav-links a {
        font-size: var(--font-size-small);
    }

    .nav-links.show {
        display: flex;
    }

    .footer-bar {
        font-size:var(--font-size-small);
        flex-direction: column;
        padding: 1rem;
    }
}


