@import url('variables.css');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color:#F0F8FF;
    width: 100%;
    overflow-x: hidden;
}

header {
    display: flex;
    flex-direction: row;
    z-index: 1000;
    margin-bottom: 0.5rem;
}

.nav-bar {
    position:fixed;
    height: 6.25rem;
    top: 0; 
    display: flex;
    justify-content:center;
    width: 100%;
    background-color: #3F729B;
    padding: 0;
}

.nav-links {
    height: 6.25rem;
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    list-style: none;
    font-size: 1.25rem;
    margin: 0;
    padding: 0;
}

.nav-bar a {
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    padding: 0.625rem 1.25rem;
    border-radius: 0.5rem;
    text-decoration: none;
    font-size:1.25rem;
}

.nav-bar a:hover,
.nav-bar a.active {
    background-color: #294c68;
}

.footer-bar {
    width:100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align:center;
    font-size: 1.25rem;
    font-weight: bold;
    color: white;
    padding: 0;
    background-color: #3F729B;
    box-sizing: border-box;
}

.hamburger {
    display: none;
    position: absolute;
    font-size: 1.75rem;
    width: max-content;
    background: none;
    border: none;
    color: white;
    z-index: 1000;
    left: 1rem;
    right: auto;
    margin: 0;
    padding: 0;
    top: 2.5rem;
}

@media (max-width: 991px) {
    .hamburger {
        display: flex;
    }

    .nav-links {
        display: none;
        position: relative;
        padding: 1.2rem;
        width: 100%;
        height: max-content;
        flex-direction: column;
        transition: opacity 0.3s ease;
        background-color: #3F729B;
    }

    .nav-links.show {
        display: flex;
    }

    .footer-bar {
        font-size: 1rem;
        flex-direction: column;
        padding: 1rem;
    }
}

/* @media (min-width: 576px) and (max-width: 767px) {

}


@media (min-width: 768px) and (max-width: 991px) {

}

@media (min-width: 992px) and (max-width: 1199px) {

}


@media (min-width: 1200px) and (max-width: 1399px) {

}

@media (min-width: 1400px) {
   
} */
