@import url('variables.css');
.hero-section {
  margin-top: 6.25rem;
  text-align: center;
  padding: 2.5rem 1.25rem;
}

.hero-section img {
  width: 18.75rem;
  height: 18.75rem;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1.25rem;
}

.hero-section h1 {
  font-size: 2rem;
  font-family:sans-serif;
  color: #142443;
  margin-bottom: 0.6rem;
}

.hero-section p {
  margin-bottom: 1.25rem;
  font-size: 1.75rem;
}

.index-headers {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color:#142443;
  font-size:2rem;
}

.button {
  display: inline-block;
  padding: 0.5rem 0.625rem;
  background-color: #476e8b;
  text-decoration: none;
  color: white;
  font-weight: bold;
  border-radius: 0.5rem;
  font-size: 1.3rem;
}

.button:hover {
  background-color: #1c4559;
}

.call-to-action {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  gap: 1rem;
  padding: 2.5rem 1.25rem;
  width: 100%;
}

.columns-divider {
  align-self: stretch;
  width: 0.2rem;
  background-color: #d6d1d1;
  height: auto;
}

.section-divider {
  border: none;
  height: 0.2rem;
  background-color: #d6d1d1;
  width: 100%;
}

.project-preview,
.contact-info {
  box-sizing: border-box;
  width: 28.125rem;
  min-height: 31.25rem;
  padding: 1.25rem;
  background-color: #dbe7f6;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  line-height: 1.6;
  border-radius: 1rem;
}

.project-preview p,
.contact-info p{
font-size: 1.5rem;
}

.project-preview img {
  width: 100%;
  height: 14rem;
  object-fit: cover;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.contact-info a,
.project-preview a {
  text-decoration: none;
  color: #737070;
  font-weight: bold;
  display: inline-block;
  font-size: 1.5rem;
}

.contact-info i {
  margin-right: 1rem;
  font-size: 1.5rem;
  color: rgb(76, 117, 152);
}

@media (max-width: 575px) {
  .hero-section img {
    width: 10rem;
    height: 10rem;
  }

  .hero-section h1 {
    font-size: 1.25rem;
  }

  .hero-section p {
    font-size: 1rem;
  }

  .button {
    font-size: 1.125rem;
    padding: 0.5rem 1rem;
  }

  .call-to-action {
    flex-direction: column;
    gap: 0.75rem;
    padding: 1rem;
  }

  .project-preview,
  .contact-info {
    width: 100%;
    margin: 0;
    padding: 1rem;
  }

  .project-preview p,
  .contact-info p,
  .contact-info a,
  .project-preview a{
    font-size: 1.2rem;
  }
}

@media (min-width: 576px) and (max-width: 766px) {
  .hero-section img {
    width: 12rem;
    height: 12rem;
  }

  .hero-section h1 {
    font-size: 1.5rem;
  }

  .hero-section p {
    font-size: 1.25rem;
  }

  .call-to-action {
    flex-direction: column;
    gap: 1rem;
    padding: 1.25rem;
  }

  .contact-info,
  .project-preview {
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
  }

  .project-preview p,
  .contact-info p,
  .contact-info a,
  .project-preview a{
    font-size: 1.25rem;
  }

  .columns-divider {
    display: none;
  }
}

@media (min-width: 767px) and (max-width: 991px) {
  .hero-section img {
    width: 14rem;
    height: 14rem;
  }

  .call-to-action {
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 2rem;
  }

  .project-preview,
  .contact-info {
    width: 100%;
    margin: 0;
    padding: 1rem;
  }

  .columns-divider {
    display: none;
  }
}