@import url('variables.css');
.skills-page {
  max-width: 75rem;
  margin: 0 auto;
  padding: 7.5rem 1.5rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.skills-section {
  background-color: var(--div-color);
  border-radius: 0.75rem;
  padding: 2rem;
  box-shadow: var(--box-shadow-light);
}

.skills-headers {
  font-size:var(--font-size-big);
  font-family: var(--font-family);
  color: var(--headers-color);
  margin-bottom: 1.25rem;
  border-bottom: 0.2rem solid #d6d1d1;
  padding-bottom: 0.5rem;
}

.skills-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.skills-list li {
  position: relative;
  padding-left: 1.5rem;
  margin-bottom: 0.75rem;
  font-size: var(--font-size-big);
}

.skills-list li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.6rem;
  width: 0.6rem;
  height: 0.6rem;
  background-color: var(--nav-bar-color);
  border-radius: 2rem;
}
