:root {
  --body-color: #F0F8FF;
  --headers-color:#142443;
  --div-color: #dbe7f6;
  --nav-bar-color:#3F729B;
  --the-white-color:white;
  --button-hover:#1c4559;
  --devider-color:#d6d1d1;
  --font-size-small:1.25rem;
  --font-size-big:1.5rem;
  --font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --box-shadow-light: 0 4px 12px rgba(0, 0, 0, 0.1);
}
